
<main class="container">
<app-menu></app-menu>
<div id="waveformtest"></div>



<button (click)="setTransriptionAsText()" style="display: flex; gap: 5px; justify-content: center;">Button <div *ngIf="awaitingForTranscription" class="spinner"></div></button>

<pre>{{voskOutput}}</pre>
<div class="windows-container">

    <!-- About -->
    <div #window1 cdkDrag cdkDragBoundary="body" [hidden]="!layoutService.aboutWindowVisibility()"  class="window-wrapper">
    <app-window-bar style="pointer-events: all;" cdkDragHandle [title]="'About'" [showClose]="true" (close)="layoutService.aboutWindowVisibility.set(false)">
    </app-window-bar>
        <div #about class="window">
            <app-about></app-about>
        </div>
    </div>

    <!-- Settings -->
    <div #window1 cdkDrag cdkDragBoundary="body" [hidden]="!layoutService.settingsWindowVisibility()"  class="window-wrapper">
    <app-window-bar style="pointer-events: all;" cdkDragHandle [title]="'Settings'" [showClose]="true" (close)="layoutService.settingsWindowVisibility.set(false)">
    </app-window-bar>
        <div #about class="window">
            <app-settings></app-settings>
        </div>
    </div>

</div>

</main>